
KokoroUpTime/obj/Debug/netcoreapp3.1/KokoroUpTime.csproj.FileListAbsolute.txt
KokoroUpTime/obj/Debug/netcoreapp3.1/KokoroUpTime.csprojAssemblyReference.cache
KokoroUpTime/bin/Debug/netcoreapp3.1/Interop.WMPLib.dll
KokoroUpTime/obj/Debug/netcoreapp3.1/KokoroUpTime.csprojAssemblyReference.cache
